# helps parse html
beautifulsoup4==4.12

# for removing emojis from strings
emoji==2.10.1

# schedules & runs tasks
luigi==3.4

# calls chat gpt
openai==1.3.7

# runs unit tests
pytest==7.4

# loads images for image picker
pillow==11.3.0

# gui for image picker
PySimpleGUI==5.0.8.3

# executes http requests
requests==2.31
